{% extends '::base.html.twig' %}
{% block header %}
{% endblock %}
{% block search_form %}
    {{ form_start(searchForm,{ 'attr': {'class': 'navbar-form navbar-right','role': 'search'} }) }}

    {{ form_errors(searchForm) }}

    {{ form_widget(searchForm.q) }}
    {{ form_widget(searchForm.category) }}

    {{ form_widget(searchForm.submit, { 'label': '送信' }) }}
    {{ form_end(searchForm) }}
{% endblock %}
    {% block body %}
        <ul class="list-group">
            {% for r in res %}
                <li class="list-group-item"><a href="{{ r.url }}">{{ r.title }} [ {{ r.created_at }}]</a></li>
            {% endfor %}
        </ul>
    {% endblock body %}
